{% extends "base.html" %}
{% block title %}Lecturas | CREDIMAS{% endblock %}

{% block content %}

<div class="page-header">
<div>
<h1 class="page-title">Lecturas de Servicios</h1>
<p class="page-subtitle">
Registro de consumo de luz o agua
</p>
</div>
</div>


<div class="row g-3">


<!-- FORM LECTURA -->
<div class="col-lg-4">

<div class="card-pro">

<div class="card-header">
<i class="bi bi-lightning-charge me-2"></i>Registrar Lectura
</div>

<div class="card-body">

<form action="/lecturas/crear" method="post" class="row g-3">

<div class="col-12">
<label class="form-label">Contrato</label>

<select name="contrato_id" class="form-select" required>

{% for c in contratos %}

<option value="{{c.id}}">
{{c.inquilino.nombre}} | {{c.propiedad.tipo}} {{c.propiedad.numero}}
</option>

{% endfor %}

</select>
</div>

<div class="col-12">
<label class="form-label">Servicio</label>

<select name="servicio" class="form-select">

<option value="LUZ">Luz</option>
<option value="AGUA">Agua</option>

</select>
</div>

<div class="col-12">
<label class="form-label">Periodo</label>

<input name="periodo"
value="{{periodo}}"
class="form-control"
required>
</div>


<div class="col-md-6">

<label class="form-label">Lectura anterior</label>

<input type="number"
step="0.01"
name="lectura_anterior"
class="form-control"
required>

</div>


<div class="col-md-6">

<label class="form-label">Lectura actual</label>

<input type="number"
step="0.01"
name="lectura_actual"
class="form-control"
required>

</div>


<div class="col-12">

<label class="form-label">Tarifa por unidad</label>

<input type="number"
step="0.01"
name="tarifa"
class="form-control"
required>

</div>


<div class="col-12 d-flex justify-content-end">

<button class="btn btn-credimas">

<i class="bi bi-check-circle me-1"></i>
Guardar lectura

</button>

</div>

</form>

</div>

</div>

</div>


<!-- TABLA LECTURAS -->
<div class="col-lg-8">

<div class="card-pro">

<div class="card-header">

<i class="bi bi-table me-2"></i>
Historial de Lecturas

</div>

<div class="card-body">

<div class="table-pro">

<table class="table table-hover align-middle">

<thead>

<tr>

<th>ID</th>
<th>Inquilino</th>
<th>Propiedad</th>
<th>Servicio</th>
<th>Periodo</th>
<th>Consumo</th>
<th>Monto</th>
<th></th>

</tr>

</thead>

<tbody>

{% for l in lecturas %}

<tr>

<td>#{{l.id}}</td>

<td>{{l.contrato.inquilino.nombre}}</td>

<td>{{l.contrato.propiedad.numero}}</td>

<td>

{% if l.servicio == "LUZ" %}

<span class="badge-soft warning">
⚡ Luz
</span>

{% else %}

<span class="badge-soft gray">
💧 Agua
</span>

{% endif %}

</td>

<td>{{l.periodo}}</td>

<td>{{l.consumo}}</td>

<td>S/ {{ "%.2f"|format(l.monto) }}</td>

<td>

<form method="post"
action="/lecturas/{{l.id}}/eliminar"
onsubmit="return confirm('¿Eliminar lectura?')">

<button class="btn btn-danger-soft btn-sm">
<i class="bi bi-trash"></i>
</button>

</form>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

</div>

</div>

</div>

{% endblock %}